
    /* ## Colors ##*/
    /*  Text */
    
$PaleViolet-sub-heading-at-the-top-of-the-app-UI: hsl(276, 100%, 81%);
$ModerateViolet-chat-on-the-left: hsl(276, 55%, 52%);
$DesaturatedDarkViolet-chat-on-the-right: hsl(271, 15%, 43%);
$GrayishBlue-placeholder-text: hsl(206, 6%, 79%);
$VeryDarkDesaturatedViolet-main-heading: hsl(271, 36%, 24%);
$DarkGrayishViolet-paragraph: hsl(270, 7%, 64%);
    
    /* #### Gradients ##*/
    
    /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

$LightMagenta-phone-bg:rgba(233, 66, 255, 0.075);
$LightMagenta-text-left-bg : rgba(233, 66, 255, 0.603);
$LightMagenta: hsl(293, 100%, 63%);
$LightViolet: hsl(264, 100%, 61%);
    
    /* ## Secondary ##*/
    
$White: hsl(0, 0%, 100%);
$LightGrayishViolet: hsl(271, 36%, 24%);
$VeryLightMagenta-radio-button-outline: hsl(289, 100%, 72%);

$box-shadow : #66666675; 



